<% form_for(@track) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 2 %>
  </p>
  <p>
    <%= f.label :color %><br />
    <%= f.text_field :color %> (E.g., "#000000" is black)
    <%# TODO add a jQuery color picker and swatch %>
  </p>
  <p>
    <%= f.submit @track.new_record? ? "Create" : "Update" %>
    <%= link_to 'Cancel', @track, :class => "showable" %> |
    <%= link_to 'Back', tracks_path, :class => "cancelable" %>
  </p>
<% end %>
