<% page_title "#{@track.title} track" %>

<div id="track-show">
  <span class="description"><%= textilize @track.description %></span>
  
  <% if admin? %>
    <h3>Excerpt</h3>
    <p class="excerpt"><%= @track.excerpt %></p>
    <%= link_to 'Edit this track', edit_track_path(@track), :class => "editable" if admin? %>
  <% end %>
  <%= link_to 'All tracks for this event', tracks_path, :class => "cancelable" %>

  <% unless @track.proposals.empty?  %>
    <h3>Proposals for this track</h3>
    <%= render :partial => 'proposals/list', :locals => {:proposals => @track.proposals} %>
  <% end %>
</div>
