<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head profile="http://gmpg.org/xfn/11">
  <title><%= SETTINGS.organization %>: <%= page_title %></title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="description" content="<%= SETTINGS.tagline %>" />

  <!-- Feeds -->
  <%= auto_discovery_link_tag(:atom, proposals_feed_path, :title => "#{SETTINGS.organization}: Proposals feed") %>
  <% if admin? %>
    <%= auto_discovery_link_tag(:atom, comments_feed_path(:secret => CommentsController::SECRET), :title => "#{SETTINGS.organization}: Proposals comments feed") %>
  <% end %>

  <!-- Stylesheets -->
  <%= stylesheet_link_tag "common" %>
  <%= theme_stylesheet_link_tag "custom" %>
  <%= yield :stylesheets %>  

  <!-- Dynamic styles -->
  <% if event_tracks? %>
     <style type="text/css" media="screen">
         <% for track in Track.find(:all) %>
         /* <%= track.title %> */
         .<%= track_css_class(track) %> { color: <%= track.color %>; }
         .<%= track_css_class(track) %>.block { background: <%= track.color %>; color: #fff; }
         <% end %>
     </style>
  <% end %>

  <!-- Scripts -->
  <%= javascript_include_tag "jquery-1.2.6.min.js" %>
  <%= yield :scripts %>
  <% # TODO Add script and stylesheet yield blocks to other themes %>
</head>

<% remote_base = SETTINGS.public_url %>

<body>
  <div id="wrapper">
     <div id="header">
      <h1 id="site-title">
         <span>
            <a href="<%= remote_base %>" title="<%= SETTINGS.organization %>" rel="home">
              <%= SETTINGS.organization %>
            </a>
        </span>
      </h1>
      <div id="site-description"><%= SETTINGS.tagline %></div>
    </div>

    <div id="access">
      <div class="skip-link">
        <a href="#content" title="Skip to content">Skip to content</a>
      </div>
      <div id="menu">
        <ul>
          <li><a href="<%= remote_base %>">Blog</a>
          <li class="page_item page-item-10"><a href="<%= remote_base %>about/" title="About">About</a></li>
          <li class="page_item page-item-22"><a href="<%= remote_base %>contact-us/" title="Contact Us">Contact Us</a></li>
          <li class="page_item page-item-56"><a href="<%= remote_base %>volunteer/" title="Volunteer">Volunteer</a></li>
          <li class="current_page_item"><a href="<%= proposals_path %>">Proposals</a></li>
        </ul>
      </div>
  </div>

  <div id="container">
    <div id="content">
         <div id="breadcrumbs">
            <% if @breadcrumbs %>
               <% @breadcrumbs[0..-2].each_with_index do |breadcrumb, i| %>
                  <% txt, path = breadcrumb %>
                  <% if i > 0 %>
                     &#187;
                  <% end %>
                  <%= link_to(h(txt), path) %>
               <% end %>
            <% end %>
         </div>  
         <h2 class="entry-title"><%= page_title %></h2>

         <%# flash[:success] = "This test is for testing the notifications." %>
         <%# flash[:failure] = "This test is for testing the notifications." %>
         <%# flash[:notice] = "This test is for testing the notifications." %>
         <%= notice %>
         <%= yield %>

     </div><!-- content -->
  </div><!-- container -->
  
  <div id="primary" class="sidebar">
     <ul class="xoxo">
        <li id="login-as">
        <% if logged_in? %>
          <h3><%= current_user.label %></h3>
          <ul>
            <% if user_profiles? %>
              <li><%= link_to "My Profile", user_path(current_user) %> [ <%= link_to "edit", edit_user_path(current_user) %> ]</li>
            <% end %>
            <li><%= link_to "Logout", logout_path, :method => :delete %></li>
          </ul>
        </li>
        <li id='my-proposals'>
            <h3>My Proposals</h3>
            <ul>
              <% unless current_user.proposals.empty? %>
                <% for proposal in current_user.proposals %>
                <li><%= link_to proposal.title, proposal_path(proposal) %></li>
                <% end %>
              <% end %>
             <li class='pre-bulletted'><%= link_to "Submit a Proposal", new_proposal_path, :class => :addable %></li>
            </ul>
          </li>

          <% if admin? %>
          <li class='administration'>
            <h3>Administration</h3>
             <ul>
               <% if user_profiles? %>
                 <li><%= link_to "Users", users_path %></li>
               <% end %>
               <li><%= link_to "Events", manage_events_path %></li>
               <% if @event %>
                 <li><%= link_to "Manage this event", manage_event_path(@event) %></li>
                 <ul>
                 <% if event_tracks? %>
                   <li><%= link_to "Tracks", tracks_path %></li>
                 <% end %>
                 <% if event_session_types? %>
                    <li><%= link_to "Session Types", session_types_path %></li>
                   <% end %>
                 <li><%= link_to "Export CSV", "/events/#{@event.id}/proposals.csv" %></li>
                 </ul>
               <% end %>
               <li><%= link_to "Snippets", manage_snippets_path %></li>
               <li><%= link_to "Comments", comments_path %></li>
            </ul>
          </li>
          <% end %>

        <% else %>
          <h3>Login as</h3>
          <ul>
            <li><%= link_to "<b>User</b> to manage your proposals", login_path %></li>
            <li><%= link_to "<b>Admin</b> to manage site", admin_path %></li>
          </ul>
        </li>
        <% end %>

      <li id="subscribe-to">
        <h3>Subscribe to</h3>
        <ul>
          <li><%= link_to "Proposals feed <span class='feedable' />", proposals_feed_path %></li>
          <% if admin? %>
            <li><%= link_to "Comments feed <span class='feedable' />", comments_feed_path(:secret => CommentsController::SECRET) %></li>
          <% end %>
        </ul>
      </li>

<% if events_picker? %>
      <li id="proposals-for">
        <h3>Proposals for</h3>
        <ul>
          <% for event in @events %>
            <li><%= link_to event.title, event_proposals_path(event) %></li>
          <% end %>
        </ul>
      </li>
<% end %>
    </ul>
    </div><!-- #sidebar-1 -->


   <div id="footer">
     <!-- YOUR FOOTER GOES HERE -->
   </div>
   
  </div><!--wrapper -->

  <%= hidden_field_tag(:current_user_id, current_user.id) if logged_in? %>

  <!-- arbitrary javascript from views -->
  <script type="text/javascript">
    <%= yield :javascript %>
  </script>
</body>
</html>
