<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head profile="http://gmpg.org/xfn/11">
	<title><%= SETTINGS.organization %>: <%= page_title %></title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="description" content="<%= SETTINGS.tagline %>" />

  <%= auto_discovery_link_tag(:atom, proposals_feed_path, :title => "#{SETTINGS.organization}: Proposals feed") %>
  <% if admin? %>
    <%= auto_discovery_link_tag(:atom, comments_feed_path(:secret => CommentsController::SECRET), :title => "#{SETTINGS.organization}: Proposals comments feed") %>
  <% end %>

  <%= stylesheet_link_tag "common" %>
  <%= theme_stylesheet_link_tag "custom" %>
</head>
<body>
  <div id="wrapper">
     <div id="header">
  		<h1 id="blog-title">
  		   <span>
  		      <a href="<%= SETTINGS.breadcrumbs.first[1] %>" title="<%= SETTINGS.organization %>" rel="home">
     		      <%= SETTINGS.organization %>
  		      </a>
	      </span>
      </h1>
  		<div id="blog-description"><%= SETTINGS.tagline %></div>
  	</div>
  	
  	<div id="access">
      <div class="skip-link">
        <a href="#content" title="Skip to content">Skip to content</a>
      </div>
      <div id="menu">
        <ul>
          <% remote_base = SETTINGS.breadcrumbs.first.last %>
          <li><a href="<%= remote_base %>">Blog</a>
          <li class="page_item page-item-10"><a href="<%= remote_base %>about/" title="About">About</a></li>
          <li class="page_item page-item-22"><a href="<%= remote_base %>contact-us/" title="Contact Us">Contact Us</a></li>
          <li class="page_item page-item-56"><a href="<%= remote_base %>volunteer/" title="Volunteer">Volunteer</a></li>
          <li class="current_page_item"><a href="<%= proposals_path %>">Proposals</a></li>
        </ul>
      </div>
	</div>
	
	<div id="container">
		<div id="content">
         <div id="breadcrumbs">
            <% if @breadcrumbs %>
               <% @breadcrumbs.each_with_index do |breadcrumb, i| %>
                  <% txt, path = breadcrumb %>
                  <% if i > 0 %>
                     &#187;
                  <% end %>
                  <%= link_to(h(txt), path) %>
               <% end %>
            <% end %>
         </div>  
         <h2 class="entry-title"><%= page_title %></h2>

         <%# flash[:success] = "This test is for testing the notifications." %>
         <%# flash[:failure] = "This test is for testing the notifications." %>
         <%# flash[:notice] = "This test is for testing the notifications." %>
         <%= notice %>
         <%= yield %>

     </div><!-- content -->
  </div><!-- container -->
  
  <div id="primary" class="sidebar">
     <ul class="xoxo">
        <li id="login-as">
        <% if logged_in? %>
          <h3>Logged in as</h3>
          <ul>
            <li><b><%= current_user.label %></b></li>
            <% if user_profiles? %>
              <li><%= link_to "Manage my account", user_path(current_user) %></li>
            <% end %>
            <% if admin? %>
              <% if user_profiles? %>
                <li><%= link_to "Manage users", users_path %></li>
              <% end %>
              <li><%= link_to "Manage events", manage_events_path %></li>
              <% if @event %>
                <li><%= link_to "Manage this event", manage_event_path(@event) %></li>
                <ul>
                <% if event_tracks? %>
                  <li><%= link_to "Manage its tracks", tracks_path %></li>
                <% end %>
                <li><%= link_to "Export CSV", "/events/#{@event.id}/proposals.csv" %></li>
                </ul>
              <% end %>
              <li><%= link_to "Manage snippets", manage_snippets_path %></li>
              <li><%= link_to "Manage comments", comments_path %></li>
            <% end %>
            <li><%= link_to "Logout", logout_path, :method => :delete %></li>
          </ul>
        <% else %>
          <h3>Login as</h3>
          <ul>
            <li><%= link_to "<b>User</b> to manage your proposals", login_path %></li>
            <li><%= link_to "<b>Admin</b> to manage site", admin_path %></li>
          </ul>
        <% end %>
      </li>

      <li id="subscribe-to">
        <h3>Subscribe to</h3>
        <ul>
          <li><%= link_to "Proposals feed <span class='feedable' />", proposals_feed_path %></li>
          <% if admin? %>
            <li><%= link_to "Comments feed <span class='feedable' />", comments_feed_path(:secret => CommentsController::SECRET) %></li>
          <% end %>
        </ul>
      </li>

<% if events_picker? %>
      <li id="proposals-for">
        <h3>Proposals for</h3>
        <ul>
          <% for event in @events %>
            <li><%= link_to event.title, event_proposals_path(event) %></li>
          <% end %>
        </ul>
      </li>
<% end %>
    </ul>
    </div><!-- #sidebar-1 -->


   <div id="footer">
     <!-- YOUR FOOTER GOES HERE -->
   </div>
   
  </div><!--wrapper -->

  <!-- arbitrary javascript from views -->
  <script type="text/javascript">
    <%= yield :javascript %>
  </script>
</body>
</html>
