<% scroll_to "label[for=event_#{params[:jump_to]}]" if params[:jump_to] %>

<% form_for([:manage, @event], :html => {:id => "event-form", :class => "standard-form"}) do |f| %>
  <%= f.error_messages %>

  <%= hidden_field_tag :return_to, @return_to %>

  <table>
    <tr>
      <td class="label-cell">
        <%= f.label :slug %>
      </td>
      <td>
        <%= f.text_field :slug %>
      </td>
    </tr>
    <tr>
      <td class="label-cell">
        <%= f.label :title %>
      </td>
      <td>
        <%= f.text_field :title %>
      </td>
    </tr>
    <% if @event.parent or @event.children.empty? %>
      <tr>
        <td class="label-cell">
          <%= f.label :parent_id, "Child of" %>
        </td>
        <td>
          <%= f.collection_select :parent_id, @event.other_events, :id, :title, :include_blank => "- None -" %>
        </td>
      </tr>
    <% end %>
    <% if not @event.new_record? and @event.parent.blank? or not @event.children.empty? %>
      <tr>
        <td class="label-cell">
          <%= f.label :parent_id, "Children" %>
        </td>
        <td>
          <ul>
            <% for child in @event.children %>
              <li>
                <%= link_to h(child.title), manage_event_path(child), :popup => true, :class => "popup" %>
              </li>
            <% end %>
            <li>
              <%= link_to "Add new child event...", new_manage_event_path(:parent_id => @event.id), :popup => true, :class => "popup" %>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="label-cell">
          <%= f.label :start_date %><br />
        </td>
        <td>
          <%= f.date_select :start_date, :include_blank => true %>
        </td>
      </tr>
      <tr>
        <td class="label-cell">
          <%= f.label :end_date %><br />
        </td>
        <td>
          <%= f.date_select :end_date, :include_blank => true %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td class="label-cell">
        <%= f.label :deadline, "Proposal Deadline" %><br />
      </td>
      <td>
        <%= f.datetime_select :deadline %>
      </td>
    </tr>
    
    <tr>
      <td class="label-cell">
        <%= f.label :accept_selector_votes, "Accept selector votes?" %>
      </td>
      <td>
        <%= f.select :accept_selector_votes, [['Yes',true],["No",false]] %>
      </td>
    </tr>
    
    <tr>
      <td class="label-cell">
        <%= f.label :proposal_titles_locked, "Lock editing of proposal title?" %>
      </td>
      <td>
        <%= f.select :proposal_titles_locked, [['Yes',true],["No",false]] %>
      </td>
    </tr>
    
    <% if proposal_statuses? %>
      <tr>
        <td class="label-cell">
          <%= f.label :show_proposal_confirmation_controls, "Show proposal confirmation controls?" %>
        </td>
        <td>
          <%= f.select :show_proposal_confirmation_controls, [['Yes',true],["No",false]] %>
        </td>
      </tr>

      <tr>
        <td class="label-cell">
          <%= f.label :proposal_status_published, "Publish proposal statuses?" %>
        </td>
        <td>
          <%= f.select :proposal_status_published, [['Yes',true],["No",false]] %>
        </td>
      </tr>
    <% end %>

    <% if event_schedule? %>
      <tr>
        <td class="label-cell">
          <%= f.label :schedule_published, "Publish schedule?" %>
        </td>
        <td>
          <%= f.select :schedule_published, [['Yes',true],["No",false]] %>
        </td>
      </tr>
    <% end %>

    <% if event_proposal_comments_after_deadline? %>
      <tr>
        <td class="label-cell">
          <%= f.label :accept_proposal_comments_after_deadline, "Accept proposal comments after deadline?" %>
        </td>
        <td>
          <%= f.select :accept_proposal_comments_after_deadline, [['Yes',true],["No",false]] %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td class="label-cell">
        <%= f.label :open_text %><br />
      </td>
      <td>
        <%= f.text_area :open_text %>
      </td>
    </tr>
    <tr>
      <td class="label-cell">
        <%= f.label :closed_text %><br />
      </td>
      <td>
        <%= f.text_area :closed_text %>
      </td>
    </tr>
    <tr>
      <td class="label-cell">
        <%= f.label :session_text %><br />
      </td>
      <td>
        <%= f.text_area :session_text %>
      </td>
    </tr>
    <tr>
      <td class="label-cell">
        <%= f.label :tracks_text %><br />
      </td>
      <td>
        <%= f.text_area :tracks_text %>
      </td>
    </tr>
    <tr>
      <td>
        &nbsp;
      </td>
      <td>
        <div class="record-controls">
          <% if @event.new_record? %>
            <%= f.submit "Create" %>
            <%= link_to "Cancel", manage_events_path, :class => "cancelable" %>
          <% else %>
            <%= f.submit "Update" %>
            <%= link_to "Destroy", manage_event_path(@event), :confirm => "Are you sure?", :method => :delete, :class => "deletable" %>
            <%= link_to "Cancel", manage_events_path, :class => "cancelable" %>
          <% end %>
        </div>
      </td>
    </tr>
  </table>
<% end %>
