<table class="standard-form">
  <tr>
    <td class="label-text">
      <label>Title</label>
    </td>
    <td>
      <%=h @event.title %>
    </td>
  </tr>
  <tr>
    <td class="label-text">
      <label>Start Date</label>
    </td>
    <td>
      <%=h @event.start_date %>
    </td>
  </tr>
  <tr>
    <td class="label-text">
      <label>End Date</label>
    </td>
    <td>
      <%=h @event.end_date %>
    </td>
  </tr>
  <tr>
    <td class="label-text">
      <label>Proposal Deadline</label>
    </td>
    <td>
      <%=h @event.deadline %>
    </td>
  </tr>
  <% if proposal_statuses? %>
    <tr>
      <td class="label-text">
        <label>Are proposal statuses publicly viewable?</label>
      </td>
      <td>
        <%= @event.proposal_status_published ? "Yes" : "No" %>
      </td>
    </tr>
  <% end %>
  <% if event_proposal_comments_toggle? %>
    <tr>
      <td class="label-text">
        <label>Accepting proposal comments?</label>
      </td>
      <td>
        <%= @event.accepting_proposal_comments? ? "Yes" : "No" %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td class="label-text">
      <label>Open text</label>
    </td>
    <td>
      <div class="snippet_preview">
        <%= @event.open_text %>
      </div>
    </td>
  </tr>
  <tr>
    <td class="label-text">
      <label>Closed text</label>
    </td>
    <td>
      <div class="snippet_preview">
        <%= @event.closed_text %>
      </div>
    </td>
  </tr>
  <tr>
    <td class="label-text">
      <label>Session text</label>
    </td>
    <td>
      <div class="snippet_preview">
        <%= @event.session_text %>
      </div>
    </td>
  </tr>
  <tr>
    <td class="label-text">
      <label>Tracks text</label>
    </td>
    <td>
      <div class="snippet_preview">
        <%= @event.tracks_text %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      &nbsp;
    </td>
    <td>
      <div class="record-controls">
        <%= link_to 'Show proposals', event_proposals_path(@event), :class => "showable" %>
        <%= link_to 'Edit', edit_manage_event_path(@event), :class => :editable %>
        <%= link_to "Destroy", manage_event_path(@event), :confirm => "Are you sure?", :method => :delete, :class => "deletable" %>
        <%= link_to 'Back', manage_events_path, :class => :cancelable %>
      </div>
    </td>
  </tr>
</table>
