<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#colorpicker').farbtastic('#track_color');
    });
  </script>
<% end %>

<% focus :track_title %>

<%= form_for([@event, @track]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :class => "form-control" %>
  </p>
  <p>
    <%= f.label :excerpt %> (one line description, used in track selector)
    <%= f.text_area :excerpt, :class => "form-control" %>
  </p>
  <p>
    <%= f.label :description %> (<%= display_textile_help_link %>)
    <%= f.text_area :description, :rows => 8, :class => "form-control" %>
  </p>
  <p>
    <%= f.label :color %>
    <%= f.text_field :color, :class => "form-control" %>
    <div id="colorpicker"></div>
  </p>
  <p>
    <%= f.submit @track.new_record? ? "Create" : "Update", :class => "btn btn-primary" %>
    <%= link_to 'Cancel', @track, :class => "btn btn-default" %>
    <%= link_to 'Destroy', track_path(@track), :method => :delete, :data => { :confirm => %{Destroy track "#{@track.title}"?} }, :class => "btn btn-danger pull-right" unless @track.new_record? %>
  </p>
<% end %>
