<% page_title @user.label %>

<% if admin? %>
  <div class='user-meta'>
    <em><%= @user.login %></em>
    <% if @user.admin? %>
      <strong class='admin'>(admin)</strong>
    <% end %>
  </div>
<% end %>

<% unless @user.affiliation.blank? %>
  <h3>Affiliation</h3>
  <div class='org affiliation'>
    <%= h @user.affiliation %>
  </div>
<% end %>

<% if admin? || can_edit? %>
  <h3>Email<span class='head-note'> (private)</span></h3>
    <td>
      <div>
        <%= display_link_to(@user.email, :mailto => true) %>
      </div>
    </td>
  </tr>
<% end %>

<% if @user.affiliation.blank? && @user.website.blank? && @user.biography.blank? %>
  <p class="empty-text" style="text-align: left">&mdash; User has not shared any information &mdash;</p>
<% end %>

<% unless @user.website.blank? %>
  <h3>Website</h3>
  <div><%= display_link_to(@user.website) %></div>
<% end %>

<% unless @user.biography.blank? %>
  <h3>Biography</h3>
  <div>
    <%= simple_format @user.biography %>
  </div>
<% end %>

<% if can_edit? %>
  <div class='record-controls'>
    <%= link_to "Edit", edit_user_path(@user), :class => "editable" %>
  </div>
<% end %>

<% unless @user.proposals.empty?  %>
  <h3>Proposals</h3>
  <%= render :partial => 'proposals/list', :locals => {:proposals => @user.proposals} %>
<% end %>
