<% page_title @user.label %>

<div id="user-show">
  <div class="left-table">
    <table>
      <% if admin? %>
        <tr>
          <th><label>Admin?</label></th>
          <td>
            <div>
              <%= @user.admin?.inspect %>
            </div>
          </td>
        </tr>
        <tr>
          <th><label>Login</label></th>
          <td>
            <div>
              <%= @user.login %>
            </div>
          </td>
        </tr>
      <% end %>
      <% if admin? || can_edit? %>
        <tr>
          <th><label>Email (private)</label></th>
          <td>
            <div>
              <%= @user.email %>
            </div>
          </td>
        </tr>
      <% end %>
      <% if @user.affiliation.blank? && @user.website.blank? && @user.biography.blank? %>
        <tr>
          <th><label>&nbsp;</label></th>
          <td>
            <div>
              <p class="empty-text" style="text-align: left">&mdash; User has not shared any information &mdash;</p>
            </div>
          </td>
        </tr>
      <% end %>
      <% unless @user.affiliation.blank? %>
        <tr>
          <th><label>Affiliation</label></th>
          <td>
            <div>
              <%= h @user.affiliation %>
            </div>
          </td>
        </tr>
      <% end %>
      <% unless @user.website.blank? %>
        <tr>
          <th><label>Website</label></th>
          <td>
            <div>
              <%= display_link_to(@user.website) %>
            </div>
          </td>
        </tr>
      <% end %>
      <% unless @user.biography.blank? %>
        <tr>
          <th><label>Biography</label></th>
          <td>
            <div>
              <%= simple_format @user.biography %>
            </div>
          </td>
        </tr>
      <% end %>
      <% if can_edit? %>
        <tr>
          <th><label>&nbsp;</label></td>
          <td>
            <%= link_to "Edit", edit_user_path(@user), :class => "editable" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <% unless @user.proposals.empty?  %>
    <h3>Proposals</h3>
    <div class="top-table">
      <table>
        <tr>
          <th>Title</th>
          <th>Excerpt</th>
        </tr>
        <% @user.proposals.each do |proposal| %>
        <tr>
          <td>
            <div>
              <%= link_to(h(proposal.title), proposal_path(proposal)) %>
            </div>
          </td>
          <td>
            <div>
              <%= h proposal.excerpt %>
            </div>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>
