<% page_title @user.label %>

<% if admin? %>
  <div class='user-meta'>
    <em><%= @user.login %></em>
    <% if @user.admin? %>
      <strong class='admin'>(admin)</strong>
    <% end %>
  </div>
<% end %>

<%= image_tag @user.photo.url(:profile), :class => 'user-photo' if @user.photo.file? %>

<% unless @user.affiliation.blank? %>
  <h3>Affiliation</h3>
  <div class='org affiliation'>
    <p>
      <%= h @user.affiliation %>
    </p>
  </div>
<% end %>

<% if admin? || can_edit? %>
  <h3>Email<span class='head-note'> (private)</span></h3>
    <td>
      <div>
        <p>
          <%= display_link_to(@user.email, :mailto => true) %>
        </p>
      </div>
    </td>
  </tr>
<% end %>

<% if @user.affiliation.blank? && @user.website.blank? && @user.biography.blank? %>
  <p class="empty-text" style="text-align: left">&mdash; User has not shared any information &mdash;</p>
<% end %>

<% links = [@user.website, @user.blog_url, @user.twitter, @user.identica].reject(&:blank?) %>
<% if links.size > 0 %>
  <h3><%= links.size > 1 ? "Links" : "Link" %></h3>
  <div>
    <ul>
      <% unless @user.website.blank? %>
        <li>Website: <%= display_link_to(@user.website, :nofollow => true, :popup => true) %></li>
      <% end %>
      <% unless @user.blog_url.blank? %>
        <li>Blog: <%= display_link_to(@user.blog_url, :nofollow => true, :popup => true) %></li>
      <% end %>
      <% unless @user.twitter.blank? %>
        <li>Twitter: <%= display_link_to(@user.twitter_url, :title => @user.twitter, :nofollow => true, :popup => true) %></li>
      <% end %>
      <% unless @user.identica.blank? %>
        <li>Identi.ca: <%= display_link_to(@user.identica_url, :title => @user.identica, :nofollow => true, :popup => true) %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% unless @user.biography.blank? %>
  <h3>Biography</h3>
  <div>
    <p>
      <%= display_textile_for @user.biography %>
    </p>
  </div>
<% end %>

<% if can_edit? %>
  <div class='record-controls'>
    <%= link_to "Edit", edit_user_path(@user), :class => "editable" %>
    <% if admin? %>
      <%= link_to "Login", browser_session_path(:login_as => @user.login), :method => :post, :class => "cancelable" %>
    <% end %>
  </div>
<% end %>

<%= render :partial => "proposals/sub_list", :locals => {:container => @user} %>
