<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en">
<head profile="http://gmpg.org/xfn/11">
  <title><%= SETTINGS.organization %>: <%= page_title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />
  <meta name="description" content="Share Burning Ideas" />

  <%= auto_discovery_link_tag(:atom, formatted_proposals_path(:atom), :title => "#{SETTINGS.organization}: Proposals feed") %>
  <% if admin? %>
    <%= auto_discovery_link_tag(:atom, formatted_comments_path(:atom, :secret => CommentsController::SECRET), :title => "#{SETTINGS.organization}: Proposals comments feed") %>
  <% end %>

  <%= theme_stylesheet_link_tag "k2" %>
  <%= stylesheet_link_tag "common" %>
  <%= theme_stylesheet_link_tag "custom" %>
</head>

<body class="wordpress k2 y2008 m09 d23 h04 home blog columns-three lang-en">
  <a class="skiplink" href="#startcontent" accesskey="2">Skip to content</a>

  <div id="page">
    <div id="header">
      <h1 class="blog-title"><a href="http://www.igniteportland.com/" accesskey="1">Ignite Portland</a></h1>

      <p class="description">Share Burning Ideas</p>

      <ul class="menu">
        <li class="page_item"><a href="http://www.igniteportland.com/" title="Main">Main</a></li>

        <li class="page_item page-item-2"><a href="http://www.igniteportland.com/about/" title="About">About</a></li>

        <li class="page_item page-item-30"><a href="http://www.igniteportland.com/watch/" title="Watch">Watch</a></li>

        <li class="page_item page-item-56"><a href="http://www.igniteportland.com/directions/" title="Directions">Directions</a></li>

        <li class="page_item page-item-65"><a href="http://www.igniteportland.com/agenda-presentations/" title="Agenda &amp; Presentations">Agenda &amp; Presentations</a></li>

        <li class="page_item page-item-7"><a href="http://www.igniteportland.com/sponsorships/" title="Sponsorships">Sponsorships</a></li>

        <li class="current_page_item page-item-71"><%= link_to "Proposals", root_path %></li>

        <li class="page-item-72"><%= link_to "Tickets", "http://tickets.igniteportland.com/" %></li>
      </ul><!-- .menu -->
    </div><!-- #header -->
    <hr />

    <div class="content">
      <div id="primary-wrapper">
        <div id="primary">
          <div id="notices"></div><a name="startcontent" id="startcontent"></a>

          <div id="dynamic-content">

            <div id="breadcrumbs">
              <% if @breadcrumbs %>
                <% @breadcrumbs.each_with_index do |breadcrumb, i| %>
                  <% txt, path = breadcrumb %>
                  <% if i > 0 %>
                    &#187;
                  <% end %>
                  <%= link_to(h(txt), path) %>
                <% end %>
              <% end %>
            </div>

            <div id="rollingcontent" class="hfeed">
              <div class="hentry post publish alt">
                <div class="entry-head">
                  <h3 class="entry-title"><%= page_title %></h3>
                </div>
                <div class="entry-content">
                  <%# flash[:success] = "This test is for testing the notifications." %>
                  <%# flash[:failure] = "This test is for testing the notifications." %>
                  <%# flash[:notice] = "This test is for testing the notifications." %>
                  <%= notice %>
                  <%= yield %>
                </div>
              </div>
            </div><!-- #rollingcontent .hfeed -->
          </div><!-- #dynamic-content -->
        </div><!-- #primary -->
      </div><!-- #primary-wrapper -->
      <hr />

      <div id="sidebar-1" class="secondary">
        <div id="login-as" class="hoverable widget module module1 sb-login alt">
          <% if logged_in? %>
            <h4>Logged in as</h4>
            <ul>
              <li><b><%= current_user.label %></b></li>
              <% if admin? %>
                <li><%= link_to "Manage events", manage_events_path %></li>
                <li><%= link_to "Manage snippets", manage_snippets_path %></li>
                <li><%= link_to "Manage comments", comments_path %></li>
                <% if @event %>
                  <li><%= link_to "Export CSV", formatted_event_proposals_path(@event,:csv) %></li>
                <% end %>
              <% end %>
              <li><%= link_to "Logout", logout_path, :method => :delete %></li>
            </ul>
          <% else %>
            <h4>Login as</h4>
            <ul>
              <li><%= link_to "<b>User</b> to manage your proposals", login_path %></li>
              <li><%= link_to "<b>Admin</b> to manage site", admin_path %></li>
            </ul>
          <% end %>
        </div>

        <div id="subscribe-to" class="hoverable widget module module1 sb-subscribe alt">
          <h4>Subscribe to</h4>
          <ul>
            <li><%= link_to "Proposals feed <span class='feedable' />", formatted_proposals_path(:atom) %></li>
            <% if admin? %>
              <li><%= link_to "Comments feed <span class='feedable' />", formatted_comments_path(:atom, :secret => CommentsController::SECRET) %></li>
            <% end %>
          </ul>
        </div>

        <div id="proposals-for" class="hoverable widget module module1 sb-proposals alt">
          <h4>Proposals for</h4>
          <ul>
            <% if @events.blank? %>
              <li class="empty-text">&mdash; No events &mdash;</li>
            <% else %>
              <% for event in @events %>
                <li><%= link_to event.title, event_proposals_path(event) %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div><!-- #sidebar-1 -->
      <hr />
    </div><!-- .content -->

    <div class="clear"></div>
  </div><!-- Close Page -->
  <hr />

  <div id="footer">
    <%# XXX Should I be doing something useful with this footer?
    <p class="footerpoweredby"><b>Powered by <a href="http://wordpress.org/">WordPress<span class="wp-version">2.5.1</span></a> and <a href="http://getk2.com/" title="Loves you like a kitten.">K2<span class="k2-version">1.0-RC6.1</span></a></b></p>

    <p class="footerfeedlinks"><b><a href="http://www.igniteportland.com/feed/">Entries Feed</a> and <a href="http://www.igniteportland.com/comments/feed/">Comments Feed</a></b></p>

    <p class="footerstats"><b>28 queries. 6.1180 seconds.</b></p>
    %>
    <%#
    <p class="footerpoweredby"><b>Powered by <a href="http://rubyonrails.org/">Ruby on Rails</a> and <a href="http://vim.org/" title="Loves you like a kitten.">VIM</a></b></p>
    %>
  </div>

  <% if RAILS_ENV == "production" %>
    <!--
    Google Analytics Plugin for Wordpress and BBPress
    http://boakes.org/analytics
    -->
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
    //<![CDATA[
    _uacct = "UA-100805-10";
    urchinTracker();
    //]]>
    </script>
  <% end %>

  <!-- arbitrary javascript from views -->
  <script type="text/javascript">
    <%= yield :javascript %>
  </script>
</body>
</html>
