<%
# Variables:
# * proposal or @proposal: Proposal to create UI for.

proposal ||= @proposal
%>

<% if admin? && ! proposal.new_record? %>
  <% expose_to_js :proposals_path, proposals_path %>
  <% run_when_dom_is_ready "bind_all_proposal_controls();" %>

  <div class="admin-only">
    <%= form_for(proposal) do |f| %>
      <strong>ADMIN:</strong>
      <% if proposal_statuses? %>
        Status
        <%= render :partial => 'open_conference_ware/proposals/transition_control', :locals => {:proposal => proposal} %>
      <% end %>
      <div>
        <% if event_rooms? %>
          Room
          <%= render :partial => 'open_conference_ware/proposals/room_control', :locals => {:proposal => proposal, :form => f} %>
        <% end %>
        <br />
        <% if proposal_start_times? && proposal.event %>
          Start
          <%= render :partial => 'open_conference_ware/proposals/schedule_control', :locals => {:proposal => proposal, :form => f} %>
        <% end %>
      </div>
      <%= link_to("Email speaker(s)...", proposal.mailto_link) %>
    <% end %>
  </div>
<% end %>
