<% if proposals.blank? %>
  <h4>&mdash; No proposals submitted yet &mdash;</h4>
<% else %>
  <table class='proposals' cellspacing='0'>
    <% for proposal in proposals %>
    <tr>
      <td rowspan='2' class='description'>
        <h3>
          <% if multiple_presenters? %>
            <%= link_to(h(proposal.title), proposal_path(proposal), :class => "title") %>
          <% else %>
            <%= link_to(h(proposal.presenter)+" &mdash; "+h(proposal.title), proposal_path(proposal), :class => "title") %>
          <% end %>
          <% if admin? %><span class='proposal-status <%= proposal.status %>'>(<%= proposal.status.titleize %>)</span><% end %>
        </h3>

        <div class="excerpt">
          <%= h proposal.excerpt if proposal_excerpts? %>
        </div>
      </td>
      
      <% if event_tracks? %>
      <td class='track block <%= track_css_class(proposal.track) if proposal.track %>'>
        <%= link_to(h(proposal.track.ergo.title), event_track_path(proposal.event, proposal.track)) || "- N/A -" %>
      </td>
      <% end %>
      
      <td class='date'>
        <%= proposal.submitted_at.ergo{localtime.to_s} %>
      </td>
    </tr>
    <tr>    
      <td class="speakers" colspan='<%= event_tracks? ? 2 : 1 %>'>
        <% if multiple_presenters? %>
          <%= proposal.users.map{|user| link_to(h(user.fullname), user_path(user))}.join(', ') %>
        <% end %>
      </td>
    </tr>        
    <% end %>
  </table>
<% end %>
