<div>
  Sort by:
  <%= proposals_sort_link("Title", 'title') %>,
  <%= proposals_sort_link("Track", 'track') if event_tracks? %>,
  <%= proposals_sort_link("Submission Date", 'submitted_at') %>
  <% if admin? %>
    <%= proposals_sort_link("Status", 'status') %>
  <% end %>
</div>

<%= render :partial => 'list', :locals => {:proposals => proposals} %>