<%
# Variables:
# - @proposal: Proposal record
# - @comment: Comment record, may be a new_record or one with error
# - @focus_comment: Focus on comment? E.g., because it has an error
# - @display_comment_form: Display the comment?
# - @kind: :session or :proposal, optional.

@kind ||= :proposal
page_title h(@proposal.title)
include_user_favorites_javascript
run_when_dom_is_ready( 'bind_calendar_items();' )
focus :comment_message if @focus_comment
show_private_note = (can_edit?(@proposal) || selector?) && ! @proposal.note_to_organizers.blank?
%>

<% content_for :meta do %>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="<%= proposal_url @proposal %>">
  <meta name="twitter:title" content="<%= h @proposal.title %>">
  <%  published_type = proposal_statuses? && (@event.proposal_status_published? && @proposal.confirmed? ? 'A session ' : 'A proposed session ')
      metadescription = "#{published_type if published_type}at #{@event.title}"
      metadescription << " by #{@proposal.users.fullnames}" if multiple_presenters? && @proposal.users.size > 1
  %>
  <meta name="twitter:description" content="<%= h truncate("#{metadescription} &mdash; #{@proposal.excerpt}", :length => 200) %>">
  <%- if SETTINGS.twitter -%>
  <meta name="twitter:site" content="<%= SETTINGS.twitter %>">
  <%- end -%>
  <%- if multiple_presenters? && first_user_with_twitter = @proposal.users.detect{|u| !u.twitter.blank?} -%>
  <meta name="twitter:creator" content="<%= first_user_with_twitter.normalized_twitter %>">
  <%- elsif !multiple_presenters? && !@proposal.user.twitter.blank? -%>
  <meta name="twitter:creator" content="<%= @proposal.user.normalized_twitter %>">
  <% end -%>
<% end -%>

<% content_for :scripts do %>
  <%= javascript_include_tag 'audiojs/audio.min.js' %>
  <script>
    audiojs.events.ready(function() {
      var as = audiojs.createAll();
    });
  </script>
<% end %>

<% if @selector_vote %>
  <div class="admin-only selector-vote-form">
    <strong>SELECTION COMMITTEE MEMBER:</strong>
    <%= @proposal.user_favorites.count %> users have favorited this proposal.

    <% form_for(@selector_vote, :url => proposal_selector_vote_path(@proposal), :html => {:method => :post}) do |f| %>
      <table cellspacing="0">
        <tr>
          <td><%= f.label :rating %></td>
          <td><%= f.label :comment %></td>
          <td></td>
        </tr>
        <tr>
          <td>
            <%= f.select :rating, [ ["Choose one:", ""],
                                    ["0 - Horrible", 0],
                                    ["1 - Poor" , 1],
                                    ["2 - Fair", 2],
                                    ["3 - Average", 3],
                                    ["4 - Good", 4],
                                    ["5 - Awesome", 5],
                                    ["x - I don't know", -1]] %>
            <% focus(:selector_vote_rating) %>
          </td>
          <td class="selector-vote-form-comment-cell">
            <%= f.text_area :comment, :rows => 2 %>
          </td>
          <td>
            <%= f.submit "Vote and next!" %>
            <br />

            <span class="nowrap">
              <% if previous_proposal_path = previous_proposal_path_from(@proposal) %>
                <%= link_to("&larr; Previous", previous_proposal_path) %>
              <% else %>
                First proposal!
              <% end %>
              |
              <% if next_proposal_path = next_proposal_path_from(@proposal) %>
                <%= link_to("Next &rarr;", next_proposal_path) %>
              <% else %>
                Last proposal!
              <% end %>
            </span>
          </td>
        </tr>
      </table>
    <% end %>
    <div class="selector-vote-form-protip">
      <strong>Protip:</strong> You can vote quickly by just pressing the number of rating to choose it because it's focused on page load, then <code>Tab</code> to the comment field and fill it, then <code>Tab</code> to the "Vote" button and <code>Enter</code> to submit!
    </div>
  </div>
<% end %>

<%= user_favorite_control_for @proposal %>
<%= render :partial => "/proposals/admin_controls" %>

<% cache "#{@kind}_#{@proposal.id},edit_#{can_edit?(@proposal)},private_note_#{show_private_note}" do %>
  <% unless multiple_presenters? %>
    <div class="standard-form">
      <table>
        <tr>
          <td colspan="2">
            <h4>Speaker</h4>
          </td>
        </tr>
        <tr>
          <td class="label-cell"><label>Speaker</label ></td>
            <td class="data-cell"><p>
              <% if user_profiles? %>
                <%= link_to(h(@proposal.user.fullname), user_path(@proposal.user)) %>
              <% else %>
                <%=h @proposal.presenter %>
              <% end %>
            </p></td>
        </tr>
        <% unless @profile.affiliation.blank? %>
          <tr>
            <td class="label-cell"><label>Affiliation</label ></td>
            <td class="data-cell"><p><%=h @profile.affiliation %></p></td>
          </tr>
        <% end %>
        <% if can_edit?(@proposal) %>
          <tr>
            <td class="label-cell"><label>Email (private)</label ></td>
            <% email = @profile.email %>
            <td class="data-cell"><p><%=link_to h(email), "mailto:"+h(email) %></p></td>
          </tr>
        <% end %>
        <% unless @profile.website.blank? %>
          <tr>
            <td class="label-cell"><label>URL</label ></td>
            <td class="data-cell"><p><%= display_link_to @profile.website %></p></td>
          </tr>
        <% end %>
        <tr>
          <td class="label-cell"><label>Biography</label ></td>
          <td class="data-cell"><%= preserve_formatting_of @profile.biography %></td>
        </tr>
      </table>
    </div>
  <% end %>

  <div class='show-proposal'>

  <% if current_user_is_proposal_speaker? %>
    <% if proposal_statuses? && @event.show_proposal_confirmation_controls? && @proposal.accepted? %>
      <div id="proposal-accepted">
        <h3>Congratulations, your proposal was accepted!</h3>
        <p>Are you are still able and willing to deliver this talk at the conference?</p>
        <div class="record-controls">
          <%= link_to "Yes, I'll be there!", speaker_confirm_path(@proposal), :method => :post, :class => 'confirmable' %>
          <%= link_to 'No, I decline.', speaker_decline_path(@proposal), :confirm => 'Are you sure?', :method => :post, :class => 'deletable' %>
        </div>
      </div>
    <% end %>
  <% end %>

  <% unless @proposal.audio_url.blank? %>
    <div class="session-audio">
      <h3>Session Audio</h3>
      <div>
        <audio src="<%= @proposal.audio_url %>" preload="none" />
      </div>
      <p>
        <%= link_to "Download audio of this session", @proposal.audio_url %>
      </p>
    </div>
  <% end -%>

  <div class='proposal-meta'>
    <% if proposal_statuses? && @event.proposal_status_published? %>
      <% if @proposal.confirmed? %>
        <div class='proposal-status <%= @proposal.status %>'>
          Accepted Session
        </div>
      <% else %>
        <div class='proposal-status proposed'>
          Proposal
        </div>
      <% end %>
    <% end %>
  <% if event_tracks? %>
      <div class='track block <%= track_css_class(@proposal.track) unless @proposal.track.ergo.title.blank? %>'>
        <%= link_to(h(@proposal.track.ergo.title), event_track_path(@proposal.event, @proposal.track)) || "- N/A -" %>
      </div>
  <% end %>
  <% if event_session_types? && @proposal.session_type && ! @proposal.session_type.title.blank? && @event.session_types.size > 1 %>
      <%= link_to(h(@proposal.session_type.ergo.title), event_session_type_path(@proposal.event, @proposal.session_type), :class=>'session_type') || "- N/A -" %>
  <% end %>
    <% unless @proposal.audience_level_label.blank? %>
      <div class='proposal-audience_level'>
        <%= @proposal.audience_level_label %>
      </div>
    <% end %>
    <div class='proposal-slug'>
      <%= @proposal.slug %>
    </div>
    <% if schedule_visible? && @proposal.start_time %>
      <div class='proposal-scheduling'>
        <b>Scheduled:</b>
        <%= normalize_time(@proposal, :format => :html) %> 
        <% if event_rooms? && @proposal.room %>
          in
          <span class='proposal-room'>
            <%= link_to h(@proposal.room.name), @proposal.room %>
          </span>
        <% end %>
      </div>
    <% end %>
    <% if @proposal.session_notes_url && @event.proposal_titles_locked? %>
      <div class='proposal-notes'>
        <%= link_to "Session notes", @proposal.session_notes_url, :class => "showable" %>
      </div>
    <% end -%>
  </div>
  
  <% if proposal_excerpts? %>
    <h3>Excerpt</h3>
    <%= preserve_formatting_of @proposal.excerpt %>
  <% end %>

  <h3>Description</h3>
  <%= display_textile_for @proposal.description %>

  <% unless @proposal.tags.empty? %>
    <h3>Tags</h3>
    <p><%= @proposal.tag_list %></p>
  <% end %>

  <% if proposal_speaking_experience? %>
    <h3>Speaking experience</h3>
    <%= preserve_formatting_of @proposal.speaking_experience %>
  <% end %>

  <% if show_private_note %>
    <h3>Private Note to Organizers</h3>
    <%= preserve_formatting_of @proposal.note_to_organizers %>
  <% end %>

  <div class="record-controls">
    <% if can_edit?(@proposal) %>
      <%= link_to 'Edit proposal', edit_proposal_path(@proposal), :class => "editable" %>
      <%= link_to 'Destroy proposal', @proposal, :confirm => 'Are you sure?', :method => :delete, :class => "deletable" %>
    <% end %>
    <%= link_to "Back to list of #{@kind.to_s.pluralize}", records_path, :class => "cancelable" %>
  </div>

  <% if multiple_presenters? %>
    <h3><%= @proposal.users.size == 1 ? "Speaker" : "Speakers" %></h3>

    <%= render :partial => 'users/list', :locals => { :users => @proposal.users.by_name, :hide_rooms => true, :only_for_event => @event } %>

  <% end %>

<% end %>

<% if admin? or selector? %>
  <% cache "proposal_#{@proposal.id},comments_list" do %>
  <h3>Comments</h3>
  <%= render :partial => 'comments/list', :locals => { :comments => @proposal.comments }%>
  <% end %>
<% end %>

<% if @display_comment_form %>
  <% form_for(@comment, :url => proposal_comments_path(@proposal), :html => {:id => "comment-form", :class => "standard-form"}) do |f| %>
    <%= f.hidden_field :proposal_id %>
    <h4>Leave a private comment to organizers about this proposal</h4>
    <table class="standard-form">
      <% unless error_messages_for(:comment).blank? %>
        <tr>
          <td class="label-cell">&nbsp;</td>
          <td class="data-cell">
            <%= error_messages_for :comment %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td class="label-cell">
          <%= f.label :email, "Email address" %>
        </td>
        <td class="data-cell">
          <%= f.text_field :email %>
        </td>
      </tr>
      <tr>
        <td class="label-cell">
          <%= f.label :message, "Comment" %>
        </td>
        <td class="data-cell">
          <%= f.text_area :message, :rows => 3 %>
        </td>
      </tr>
      <tr class="quagmire">
        <td class="label-cell">
          <%= label :quagmire, "Leave blank" %>
        </td>
        <td>
          <%= text_field_tag :quagmire %>
        </td>
      </tr>
      <tr>
        <td class="label-cell">&nbsp;</td>
        <td class="data-cell">
          <%= f.submit "Create comment" %>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>

</div>
