<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title><%= SETTINGS.organization %>: <%= page_title %></title>
  <meta name="description" content="Share Burning Ideas" />

  <%= auto_discovery_link_tag(:atom, proposals_feed_path, :title => "#{SETTINGS.organization}: Proposals feed") %>
  <% if admin? %>
    <%= auto_discovery_link_tag(:atom, comments_feed_path(:secret => CommentsController::SECRET), :title => "#{SETTINGS.organization}: Proposals comments feed") %>
  <% end %>

  <%= stylesheet_link_tag "reset-fonts-grids" %>
  <%= stylesheet_link_tag "common" %>
  <%= theme_stylesheet_link_tag "custom" %>
</head>
<body>
  <div id="bodywrap">
    <div id="doc3" class="yui-t4">
      <!-- header -->
      <div id="hd">
        <h1><%= page_title %></h1>
      </div>

      <!-- body -->
      <div id="bd">
        <div id="yui-main">
          <div class="yui-b">
            <div class="yui-g">
              <!-- YOUR DATA GOES HERE -->
              <div id="breadcrumbs">
                <% if @breadcrumbs %>
                  <% @breadcrumbs.each_with_index do |breadcrumb, i| %>
                    <% txt, path = breadcrumb %>
                    <% if i > 0 %>
                      &#187;
                    <% end %>
                    <%= link_to(h(txt), path) %>
                  <% end %>
                <% end %>
              </div>

              <div id="content">
                <%# flash[:success] = "This test is for testing the notifications." %>
                <%# flash[:failure] = "This test is for testing the notifications." %>
                <%# flash[:notice] = "This test is for testing the notifications." %>
                <%= notice %>
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
        <div class="yui-b">
          <!-- YOUR NAVIGATION GOES HERE -->
          <div id="sidebar-1">
            <div id="login-as" class="hoverable">
              <% if logged_in? %>
                <h4>Logged in as</h4>
                <ul>
                  <li><b><%= current_user.label %></b></li>
                  <% if admin? %>
                    <li><%= link_to "Manage events", manage_events_path %></li>
                    <li><%= link_to "Manage snippets", manage_snippets_path %></li>
                    <li><%= link_to "Manage comments", comments_path %></li>
                    <% if @event %>
                      <li><%= link_to "Export CSV", "/events/#{@event.id}/proposals.csv" %></li>
                    <% end %>
                  <% end %>
                  <li><%= link_to "Logout", logout_path, :method => :delete %></li>
                </ul>
              <% else %>
                <h4>Login as</h4>
                <ul>
                  <li><%= link_to "<b>User</b> to manage your proposals", login_path %></li>
                  <li><%= link_to "<b>Admin</b> to manage site", admin_path %></li>
                </ul>
              <% end %>
            </div>

            <div id="subscribe-to" class="hoverable">
              <h4>Subscribe to</h4>
              <ul>
                <li><%= link_to "Proposals feed <span class='feedable' />", proposals_feed_path %></li>
                <% if admin? %>
                  <li><%= link_to "Comments feed <span class='feedable' />", comments_feed_path(:secret => CommentsController::SECRET) %></li>
                <% end %>
              </ul>
            </div>

            <div id="proposals-for" class="hoverable">
              <h4>Proposals for</h4>
              <ul>
                <% if @events.blank? %>
                  <li class="empty-text">&mdash; No events &mdash;</li>
                <% else %>
                  <% for event in @events %>
                    <li><%= link_to event.title, event_proposals_path(event) %></li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div><!-- #sidebar-1 -->
        </div>
      </div>

      <!-- footer -->
      <div id="ft">
        <!-- YOUR FOOTER GOES HERE -->
      </div>
    </div>
  </div>

  <!-- arbitrary javascript from views -->
  <script type="text/javascript">
    <%= yield :javascript %>
  </script>
</body>
</html>
